<h1><%= question_header(@question) %></h1>
<%= form_for [@test, @question], local: true do |f| %>
  <%= render 'shared/errors' %>
  <p>
    <%= f.label :body, 'Question' %>
    <%= f.text_field :body, id: :question_body %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<%= link_to 'Back', test_path(@question.test) %>
